@import "../../style/settings.scss";
@import "../../style/_mixins.scss";
.ca-statistic {
  &__container-for-nav {
    position: fixed;
    top: 0;
    width: 100%;
    color: $white;
    font-size: 1.8rem;
    display: flex;
    height: $nav-height;
    background-color: $nav-color;
  }
}