
.cell {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.myGames__name-block {
    flex: 2;
}

.myGames__buttons-block {
    flex: 1;
}

.myGames__button {
    margin: 0 10px;
    color: #fff;
    border: none;
    font-size: 18px;
    padding: 5px 10px;
}

.cellWithButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cellWithButton__text {
    flex: 2;
}

.cellWithButton__buttons {
    flex: 1;
}

.delete-icon {
    font-size: 30px !important;
}

.edit-icon {
    font-size: 30px !important;
}

.icon-button_delete {
    color:rgb(168, 23, 4) !important;
}

.icon-button_edit {
    color:#F4B33A !important;
}

.icon-button_edit:hover {
    color:#fff !important;
    background-color :#F4B33A !important;
}

.icon-button_delete:hover {
    color:#fff !important;
    background-color: rgb(168, 23, 4) !important;
}
