.cell {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.myGames__name-block {
    flex: 2;
}

.myGames__buttons-block {
    flex: 1;
}

.myGames__button {
    margin: 0 10px;
    color: #fff;
    border: none;
    font-size: 18px;
    padding: 5px 10px;
}

.myGames__button_delete {
    background-color:red;

}

.myGames__button_edit {
    background-color:blue;
}

.cellWithButton {
    display: flex;
    align-items: center;
}

.cellWithButton__text {
    flex: 1;
}

.cellWithButton__buttons {
    flex: 1;
}

.ca-button > button {
    color: #fff !important;
    height: 20px !important;
    width:130px !important;
    font-size: 15px;
    background-color: #313C45;
    margin: 0 10px; 
}

.ca-button > button:hover {
    color: #F4B33A !important;
}
