@import "../../style/settings.scss";
@import "../../style/mixins.scss";

.myGames__title {
    color: #fff;
    font-size: 45px;
    font-weight: bold;
    margin: 100px 0;
    text-align: center;
}

.add-button-block {
    width: 350px;
    margin: 20px auto;
}

.add-button > button{
    color: #F4B33A !important;
    height: 60px;
    width:320px;
    font-size: 30px;
    background-color: #313C45;
}

.add-button > button:hover{
    color: #fff !important;

}


