.myGames__title {
    padding-left: 105px;
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    margin-top: 60px;
    margin-bottom: 20px;
}

.add-button-block {
    width: 320px;
    margin: 20px auto;
}

.add-button > button{
    color: #F4B33A !important;
    height: 60px;
    width:320px;
    font-size: 30px;
    background-color: #313C45;
}

.add-button > button:hover{
    color: #fff !important;
}

