

$background-color: #1c2227;

// FONT-COLOR
$beige: #ffeccc;
$orange: #f4b33a;
$white: white;
$grey:#d7dde2;
$green: #d3fbd8;
$red: #ffa39e;
$green-light: #35bd9a;

// SPECIFIC
$locked-game-color: rgba(71, 86, 98, 0.2);
$unactive-link-color: #ffffff;

// FONT-SIZE
$medium-font: 1.6rem;
$medium-font-2: 2rem;
$big-font: 2.3rem;
$big-font-2: 4rem;
$icon-font: 7rem;