@import "../../style/settings.scss";

.ca-login-form {
    font-size: 1.6rem;

    &__container {
      width: 80%;
      max-width: 800px;
      margin: 0 auto;
      background-color: white;
      font-size: inherit;
      padding: 4rem;
      margin-top: 2rem;
    }

    &__error {
        color: #f92a42;
        display: block;
        padding: 5px 10px;
        background-color: rgba(239, 38, 78, .4);
        border-radius: 10px;
        margin-top: 10px;
    }

    &__password-field {
      margin-top: 20px;
    }

    &__button-container {
      display: flex;
      justify-content: center;
    }

    &__login-btn {
      margin-top: 20px;
    }

    &__form-text {
      margin-top: 20px;
      text-align: center;
      font-size: 15px;
      background-color: transparent;
    }
    
    &__socials-btn {
      margin-top: 20px;
      display: flex;
      justify-content: center;
    }

    &__socials-btn-container {
      min-width: 130px;
      display: flex;
      justify-content: space-around;
    }

    &__custom-vk {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      color: white;
      margin-top: 5px;
      &:before {
        content: '\f189';
      }
    }

    &__custom-facebook {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      color: white;
      &:before {
        content: '\f09a';
        } 
    }

    &__custom-google {
      display: inline-block;
      height: 25px;
      width: 25px;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      color: white;
      &:before {
        content: '\f1a0';
        line-height: 25px;
      }
    }

    &__form-linked-text {
      margin-top: 20px;
      text-align: center;
      font-size: 14px;
      cursor: pointer;
      text-decoration: none;
      background-color: transparent;
      color: #669;
    }

    &__google-btn {
      background-color: rgba(0,0,0,.33);
      display: inline-block;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      text-align: center;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background-color: #db4437;
      }
    }

    &__facebook-btn {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: rgba(0,0,0,.33);
      border: none;
      padding: 0;
      text-align: center;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background-color: #3c5a98;
      }

      &:focus {
        outline: none;
      }
    }

    &__vk-btn {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.33);
      border: none;
      padding: 0;
      text-align: center;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        background-color: #4A76A8;
      }
    }
}
