@import "../../style/settings.scss";
@import "../../style/_mixins.scss";

.ca-navbar {

  height: $nav-height;

  &__container {
    position: fixed;
    top: 0;
    width: 100%;
    color: $white;
    z-index: 101;
    font-size: 1.8rem;
    display: flex;
    height: inherit;
    background-color: $nav-color;
  }

  &__items-container {
    display: flex;
    height: 100%;
    width: 100%;
    margin-left: 3rem;
    @include flexbox-center-all();
  }

  &__nav-item {
    @include resetLink($unactive-link-color);
    position: relative;
    margin: 1.5rem;
    cursor: pointer;
    transition: all .3s;
  }

  &__nav-item--active {
    color: $white;
  }

  &__logout-btn-container {
    order: 1;
    margin-left: auto;
    margin-right: 4rem;
  }

  &__select-language {
    width: 80px;
    margin-left: 20px;
  }
}