@import "../../style/settings.scss";
@import "../../style/_mixins.scss";
.ca-navbar {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  height: inherit;
  width: inherit;

  &__items-container {
    display: flex;
    height: 100%;
    @include flexbox-center-all();
  }

  &__nav-item {
    @include resetLink($unactive-link-color);
    position: relative;
    margin: 1.5rem;
    cursor: pointer;
    transition: all .3s;
  }

  &--margin-left {
    margin-left: 3rem;
  }

  &__nav-item--active {
    color: $white;
  }
  
  &__logout-btn-container {
    order: 1;
    margin-left: auto;
    margin-right: 4rem;
  }
}