@import "../../style/settings.scss";
@import "../../style/mixins.scss";

.ca-homepage {
  &__container {
    margin: 0 8rem;
    @include flexbox();
  }

  &__container-for-games {
    margin-top: 6rem;
    margin-right: 3rem;
    margin-left: 3rem;
  }

  &__spinner-container {
    background-color: $background-color;
    z-index: 100;
    position: fixed;
    top: $nav-height;
    width: 100vw;
    height: 100vh;
    @include flexbox-center-all();
  }
}
@media(max-width:1024px) {
  .ca-homepage {
    &__container {
      margin: 0;
      @include flexbox-center-all();
    }
  }
}
@media(max-width: 768px) {
  .ca-homepage {
    &__container {
      margin: 0 6rem;
    }

    &__container-for-games {
      margin-right: 0;
      margin-left: 0;
    }
  }
}
@media(max-width:600px) {
  .ca-homepage {
    &__container {
      margin: 0 4rem;
    }

    &__container-for-games {
      margin-top: 4rem;
    }
  }
}
