@font-face {

  font-family: 'Source Sans Pro';
  
  src: url('fonts/SourceSansPro-Regular.otf');
  
  src: url('fonts/SourceSansPro-Regular.otf?iefix') format('otf'),

}

@font-face {

  font-family: 'Source Sans Pro';
  
  src: url('fonts/SourceSansPro-Black.otf');
  
  src: url('fonts/SourceSansPro-Black.otf?iefix') format('otf'),

}


@font-face {

  font-family: 'Source Sans Pro';
  
  src: url('fonts/SourceSansPro-BlackIt.otf');
  
  src: url('fonts/SourceSansPro-BlackIt.otf?iefix') format('otf'),

}

@font-face {

  font-family: 'Source Sans Pro';
  
  src: url('fonts/SourceSansPro-Bold.otf');
  
  src: url('fonts/SourceSansPro-Bold.otf?iefix') format('otf'),

}

@font-face {

  font-family: 'Source Sans Pro';
  
  src: url('fonts/SourceSansPro-BoldIt.otf');
  
  src: url('fonts/SourceSansPro-BoldIt.otf?iefix') format('otf'),

}

@font-face {

  font-family: 'Source Sans Pro';
  
  src: url('fonts/SourceSansPro-ExtraLight.otf');
  
  src: url('fonts/SourceSansPro-ExtraLight.otf?iefix') format('otf'),

}

@font-face {

  font-family: 'Source Sans Pro';
  
  src: url('fonts/SourceSansPro-ExtraLightIt.otf');
  
  src: url('fonts/SourceSansPro-ExtraLightIt.otf?iefix') format('otf'),

}

@font-face {

  font-family: 'Source Sans Pro';
  
  src: url('fonts/SourceSansPro-It.otf');
  
  src: url('fonts/SourceSansPro-It.otf?iefix') format('otf'),

}

@font-face {

  font-family: 'Source Sans Pro';
  
  src: url('fonts/SourceSansPro-Light.otf');
  
  src: url('fonts/SourceSansPro-Light.otf?iefix') format('otf'),

}

@font-face {

  font-family: 'Source Sans Pro';
  
  src: url('fonts/SourceSansPro-LightIt.otf');
  
  src: url('fonts/SourceSansPro-LightIt.otf?iefix') format('otf'),

}

@font-face {

  font-family: 'Source Sans Pro';
  
  src: url('fonts/SourceSansPro-Semibold.otf');
  
  src: url('fonts/SourceSansPro-SemiboldIt.otf?iefix') format('otf'),

}