.leaders {
  
  &__statistics-title{
    padding-left: 105px;
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    margin-top: 60px;
    margin-bottom: 20px;
  }

  &__app-name {
    height: 53px;
    padding-left: 105px;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
  }
}