@import 'style/settings.scss';
@import 'style/_mixins.scss';

.ca-button {
  color: $orange !important;
  border-radius: 0 !important;
  border-radius: 0 !important;
  text-transform: none !important;
  border: 1px solid $orange !important;
  width: 184px;
  height: 35px;
  background-color: transparent !important;
  font-size: $btn-font-size !important;
  font-weight: 600 !important;

  &--disabled {
    opacity: 0.25;
  }
}
