.ca-landing {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  &__register-btn {
    margin-right: 20px;
  }

  &__title {
    margin-top: 60px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
  }

  &__buttons-container {
    display: block;
    text-align: center;
  }
}

@media (max-width: 599.95px) {
  .ca-landing__register-btn {
    margin-right: 0px;
    margin-bottom: 20px;
  }
}