@import "../../style/settings.scss";

.ca-forget-password-form {
  font-size: 1.6rem;

  &__container {
      width: 80%;
      margin: 0 auto;
      background-color: white;
      font-size: inherit;
      padding: 4rem;
  }

  &__error {
      color: #f92a42;
      display: block;
      padding: 5px 10px;
      background-color: rgba(239, 38, 78, .4);
      border-radius: 10px;
      margin-top: 10px;
  }

  &__login-btn {
      margin-top: 20px;
  }

  &__confirm-message{
      font-size: 2em;
      background: #313c45;
      color: $orange;
      width: 970px;
      margin: 25px auto;
  }

  &__message{
      padding: 15px 0 20px 0;
      text-align: center;
  }
}
