@import "../../style/settings.scss";
@import "../../style/mixins.scss";

.ca-game-card {
  animation: fadeIn .5s, moveInBottom .5s;
  width: 33.6rem;
  min-width: 25rem; // min-height: 20.6rem;

  &--black-background {
    background-color: $locked-game-color;
  }

  &--grey-background {
    background-color: $unlocked-game-color;
  }

  &--white-top {
    border-top: 5px solid $beige;
  }

  &--grey-top {
    border-top: 5px solid $top-border-unactive-game;
  }

  &__container {
    position: relative;
    text-align: start;
    padding: 2.4rem;
    height: 300px;
  }

  &__game-title {
    color: $white;
    font-size: $big-font;
    margin-bottom: 1.2rem;
    font-weight: 600;
  }

  &__game-desc {
    color: $grey;
    font-size: $medium-font;
  }

  &__btn-container {
    margin-top: 3rem;
    text-align: center;
    margin-bottom: 8.6rem;
  }

  &__footer {
    display: flex;
    background-color: $grey-2;
    min-height: 5.6rem;
    position: absolute;
    bottom: -4.8rem;
    width: 100%;
    left: 0;
  }

}
@media(max-width: 1024px) {
  .ca-game-card {
    width: 38rem;
  }
}
@media(max-width: 768px) {
  .ca-game-card {
    width: 100%;
    max-width: 700px;

    &__container {
      min-height: 300px;
    }

    &__game-title {
      font-size: $big-font-2;
      margin-bottom: 2rem;
    }

    &__game-desc {
      font-size: $medium-font-2;
    }
  }
}
@media(max-width: 520px) {
  .ca-game-card {
    &__game-title {
      font-size: $big-font;
      margin-bottom: 1rem;
    }

    &__game-desc {
      font-size: $medium-font;
    }
  }
}
