@import "../../style/settings.scss";
@import "../../style/mixins.scss";
.ca-game-card {
  animation: fadeIn .5s, moveInBottom .5s;
  width: 33.6rem;
  min-width: 25rem; // min-height: 20.6rem;

  &--black-background {
    background-color: $locked-game-color;
  }

  &--grey-background {
    background-color: $unlocked-game-color;
  }

  &__container {
    position: relative;
    text-align: start;
    padding: 2.4rem;
    height: 100%;
  }

  &__game-title {
    color: $white;
    font-size: $big-font;
    margin-bottom: 1.2rem;
  }

  &__game-desc {
    color: $grey;
    font-size: $medium-font;
  }

  &__btn-container {
    margin-top: 3rem;
    text-align: center;
    margin-bottom: 8.6rem;
  }

  &__btn {
    font-size: $btn-font-size !important;
    color: $orange !important;
    border-radius: 0 !important;
    text-transform: none !important;
    border: 2px solid $orange !important;
    width: 60% !important;
    min-width: 10rem !important;
    background-color: transparent !important;
  }

  &__footer {
    display: flex;
    background-color: $grey-2;
    min-height: 5.6rem;
    position: absolute;
    bottom: -4.8rem;
    width: 100%;
    left: 0;
  }
  
  &--white-top {
    border-top: 5px solid $beige;
  }
  
  &--grey-top {
    border-top: 5px solid $top-border-unactive-game;
  }
}