@import "../../style/settings.scss";
@import "../../style/_mixins.scss";
.ca-icon-with-info {
  @include flexbox();
  &__icon {
    max-width: 30%;
    margin-right: .5rem;
    margin-left: auto;
  }

  &__info {
    max-width: 70%;
    @include flexbox();
  }

  &__first-line {
    max-width: 100%;
    font-size: 1.3rem;
    color: $grey;
    &--spec-size {
      max-width: 100%;
      min-width: 51%;
    }
  }

  &__second-line {
    max-width: 100%;
    font-size: 1.8rem;
    color: $beige;
    &--spec-size {
      max-width: 100%;
      min-width: 51%;
    }
    &--full-players {
      color: $green;
    }
  }
  
}