@import "../../style/settings.scss";

.ca-users-tables {
  &__title {
      padding-left: 105px;
      color: #fff;
      font-size: 32px;
      font-weight: 600;
      margin-top: 60px;
      margin-bottom: 20px; 
  }
  &__tabs> * {
      color: #fff !important;
      margin-left: 82px !important; 
  }
  &__tabs > div > div > div + span {
      background-color: #f4b33a !important;
      height: 4px !important;
  } 
  &__tab_first-table  * {
      font-size: 18px !important;
      text-transform: none !important;
      margin-bottom: 5px !important;
  }
  &__tab_second-table  * {
      font-size: 18px !important;
      text-transform: none !important;
      margin-bottom: 5px !important;
  }
  &__tab_third-table   * {
      font-size: 18px !important;
      text-transform: none !important;
      margin-bottom: 5px !important;
  }
}
